<div class="header-main">
    <div class="container">
        <div class="header">
            <div class="logo-box">
                <a href="./index.html">
                    <img src="./asset/images/Logo/main_logo.png" alt="Logo" class="header-logo-image">
                </a>
            </div>
            <div class="navigation">
                <nav>
                    <ul>
                        <li><a href="./contact-us.html" class="navlinks">contact us</a></li>
                        <li><a href="./inquiry.html" class="navlinks">inquiry</a></li>
                    </ul>
                </nav>
            </div>
            <div class="social-media">
                <ul>
                    <li>
                        <a href="https://wa.me/917048248542?text=Hi" class="header-btn"
                            target="_blank">WhatsApp</a>
                    </li>
                    <li>
                        <div class="hamburger-menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Mobile Navigation -->
            <div class="mobile-nav-overlay">
                <div class="mobile-nav-header">
                    <h4 class="mobile-nav-title">Menu</h4>
                    <div class="close-menu">
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <ul class="hamburg-menu-list">
                    <li class="has-dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle">service</a>
                        <ul class="dropdown-menu">
                            <li><a href="./car-rental.html">Car Rental Hub</a></li>
                            <li><a href="./trip.html">Tour Package</a></li>
                            <li><a href="./cruise-booking.html">Cruise Booking</a></li>
                            <li><a href="./flight-booking.html">Flight Booking</a></li>
                            <li><a href="./index.html#hotelSection">Hotel Booking</a></li>
                            <li><a href="./resort-booking.html">Resort Booking</a></li>
                            <li><a href="./visa.html">Passport / Visa Service</a></li>
                        </ul>
                    </li>
                    <li><a href="./visa.html">Visa</a></li>
                    <li><a href="./trip.html#tripPackagesSection">Packages</a></li>
                    <li><a href="./about-us.html">About Us</a></li>
                    <li><a href="./blog.html">Blog</a></li>
                </ul>
                <div class="mobile-cta">
                    <a href="#" class="header-btn w-100 text-center">Whats App</a>
                </div>
            </div>
        </div>
    </div>
</div>
